<div class="Measure_howTo">Start creating a measurement by adding points to the map, when you have finished double click on the final point or click finish.</div>

<a class="<%= model.className %>-toggle js-toggle" href="#" title="Measure distances and areas">Measure</a>
<div class="<%= model.className %>-interaction js-interaction">
  <div class="js-startprompt startprompt">
    <div class="js-startandclear footerButtonSet oneButtons">
      <button type="button" class="js-start start">Click to start measurement</button>
      <button type="button" style="display:none" class="js-clear clear">Clear</button>
    </div>

      <div class="js-startonly footerButtonSet oneButtons">
            <button type="button" class="js-start2 start">Click to start measurement</button>
      </div>
      <button style="display:none;" type="button" class="js-reset reset">Reset</button>

  </div>



  <div class="js-measuringprompt">
    <div class="js-startandclear footerButtonSet twoButtons">
      <button type="button" class="js-finish finish">Finish</button>
      <button type="button" class="js-cancel cancel">Cancel</button>
    </div>
  </div>
  <div class="js-results results"></div>
</div>
